/*--------------------------------------------*/
/*----------0 2 - C A T A L O G U E-----------*/
/*--------------------------------------------*/
.catalogue {
    background-color: url(../images/views/02.bg-frame.png) no-repeat;
    height: 800px;
    overflow: hidden;
    width: 400px;
}
#form-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
#form-filter-input {
    border: none;
    background: url(../images/bg-input-filter.png) no-repeat center,
        url(../images/icon-filter.png) no-repeat 250px center;
    width: 285px;
    height: 57px;
    color: var(--color-second);
    font-size: 32px;
    font-weight: 300;
    text-indent: 20px;
    outline: none;
}
#form-filter-input::placeholder {
    opacity: 0.7;
    color: var(--color-second);
}
.categorie-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    position: relative;
}
.categorie-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--color-second);
}
#categorie-section-title-image {
    width: 30px;
    height: 30px;
}
.game-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.game-section {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid var(--color-second);
    border-radius: 20px;
    gap: 0.5rem;
    color: var(--color-second);
}
.game-section-img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    padding: 0.5rem;
}
.categorie-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

button.prev,
button.next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
