/*------------------------------------------*/
/*----------V A R I A B L E S---------------*/
/*------------------------------------------*/
:root {
    --ff-heading: "Junge", cursive;
    --ff-body: "Poppins", sans-serif;
    --color-first: #43766C;
    --color-second: #F8FAE5;
    --color-third: #5E5E5E;
    --color-fourth: #76453B;
}

/*---------------------------------------*/
/*----------P R E L O A D----------------*/
/*---------------------------------------*/
body:after {
    position: absolute;
    height: 0px;
    width: 0px;
    z-index: -1;
    overflow: hidden;
    content: url(../images/btn-active.png) url(../images/btn-hover.png);
}

/*---------------------------------------*/
/*----------G E N E R A L----------------*/
/*---------------------------------------*/

body {
    background: linear-gradient(to bottom, var(--color-third), #000000);
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

    main {
        width: 400px;
        height: 800px;
        background: url(../images/bg-main.png) no-repeat center;
        position: absolute;

        header {
            display: flex;
            justify-content: center;
            margin-block: 3.2rem;
            z-index: 3;
            position: relative;

            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: var(--color-second);
                    stroke-width: 4;
                    stroke-linecap: round;
                }

                .top {
                    stroke-dasharray: 40 121;
                }

                .bottom {
                    stroke-dasharray: 40 121;
                }
            }

            svg.btn-burger.active {
                transform: rotate(45deg);

                .top {
                    stroke-dashoffset: -68px;
                }

                .bottom {
                    stroke-dashoffset: -68px;
                }
            }
        }

        nav.nav {
            position: absolute;
            background-color: rgba(41, 40, 40, 0.6);
            -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 800px;
            top: 0;
            transform: translateY(-61%) scale(0);
            transition: transform 0.4s ease-in-out;
            width: 400px;
            z-index: 2;
            align-content: space-around;

            img.title-menu {
                margin-block: 2rem;
            }
        }

        nav.nav.active {
            transform: translateY(0%) scale(1);
        }

        menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 15rem;

            a:is(:link, :visited) {
                background: url(../images/btn.png) no-repeat center;
                color: var(--color-fourth);
                font-size: 20px;
                font-weight: 400;
                height: 80px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.6rem;
                padding-left: 20px;
                margin-top: 1.2rem;
                transition: all 0.4s ease-in;
                text-decoration: none;
                width: 300px;
            }

            a:is(:hover) {
                background: url(../images/btn-hover.png) no-repeat center;
                transform: scale(1.02) translateY(-4px);
            }

            a:is(:active) {
                background: url(../images/btn-active.png) no-repeat center;
            }
        }

        section.owl-carousel {
            margin-top: 6.8rem;

            div.owl-item {
                display: flex;
                justify-content: center;

                img {
                    width: 300px;
                    height: 300px;
                }
            }

            div.owl-nav {
                position: relative;
                top: -180px;
                display: flex;
                justify-content: space-between;
                margin: 0rem;

                button {
                    transition: transform 0.1s ease-in;

                    span {
                        display: flex;
                        justify-content: space-between;
                        height: 50px;
                        width: 50px;
                        text-indent: -9999px;
                    }
                }

                button.owl-prev {
                    span {
                        background: url(../images/btn-prev.svg) no-repeat center;
                    }
                }

                button.owl-prev:hover {
                    transform: scale(1.1) translateX(-4px);
                }

                button.owl-next {
                    span {
                        background: url(../images/btn-next.svg) no-repeat center;
                    }
                }

                button.owl-next:hover {
                    transform: scale(1.1) translateX(4px);
                }
            }

            div.owl-dots {
                position: relative;
                top: -20px;
                display: flex;
                justify-content: center;
            }

            button:is(:hover) {
                transform: scale(2);
            }

            button.owl-dot {
                span {
                    height: 10px;
                    width: 10px;
                }
            }

            button.owl-dot.active,
            button.owl-dot:is(:hover) {
                span {
                    background-color: var(--color-second);
                    height: 10px;
                    width: 10px;
                }
            }
        }

    }
}


/*----------------------------------------*/
/*----------0 1 - W E L C O M E-----------*/
/*----------------------------------------*/

main.welcome {

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        a:is(:link, :visited) {
            background: url("../images/btn.png") no-repeat center;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.9rem;
            transition: all 0.4s ease-in;
            width: 300px;
        }

        a:is(:hover) {
            background: url("../images/btn-hover.png")no-repeat center;
            transform: scale(1.1);
        }

        a:is(:active) {
            background: url("../images/btn-active.png") no-repeat center;
        }

        a {
            img.hidden {
                display: none;
            }
        }
    }
}

/*--------------------------------------------*/
/*----------0 2 - C A T A L O G U E-----------*/
/*--------------------------------------------*/
.catalogue {
    background-color: url(../images/views/02.bg-frame.png) no-repeat;
    height: 800px;
    overflow: hidden;
    width: 400px;
}

main.catalogue {
    scrollbar-width: none;
    overflow: scroll;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        a.btn-back:is(:link, :visited) {
            transition: transform 0.4s ease-in;
        }

        a.btn-back:is(:hover) {
            transform: translateX(-4px)
        }
    }

    div.owl-carousel {
        margin-top: 6.8rem;

        div.owl-item {
            display: flex;
            justify-content: center;

            img {
                width: 120px;
                height: 120px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -250px;
            display: flex;
            justify-content: space-between;
            margin: 0rem;

            button {
                transition: transform 0.1s ease-in;

                span {
                    display: flex;
                    justify-content: space-between;
                    height: 50px;
                    width: 50px;
                    text-indent: -9999px;
                }
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.svg) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.svg) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(4px);
            }
        }
    }
}